.ItemIdea{
    width: 87vw;
    height: 40.4vh;
    box-sizing: border-box;
    padding: 2vw 3.4vw 0;

    --color-text-idea: #313233;
    --color-number-idea: #C3CACB;

    display: grid;

    grid-template-areas:
    "number"
    "header" 
    "textIdea";

    grid-template-rows: 20% 20% 1fr;
    grid-template-columns: 1fr;
}
.ItemIdea:hover{
    background-color: #4562C9;
    --h-color: #fff;
    --color-text-idea: #fff;
    --color-number-idea: #fff;
}
.titleIdea{
    width: 100%;
    font-size: var(--h3-font-size);
    color: var(--h-color);	
    line-height: var(--h3-line-height);
    font-weight: 400;
    margin: 0;
    grid-area: header;
}
.textIdea{
    margin: 0px;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-text-idea);

    grid-area: textIdea;
}

.numberIdea{
    font-size: 21px;	
    line-height: 32px;
    color: var(--color-number-idea);
    margin:0;

    grid-area: number;
}

@media all and (min-width: 385px) and (max-width: 768px)  {
    .ItemIdea{
        width: 80vw;
        height: 38vw;

        padding: 1vw 3.4vw 0;
        padding-bottom: 0;

        grid-template-rows: 25% 20% 1fr;
    }

    .titleIdea{
        width: 100%;
    }
    .numberIdea{
        margin-top: 0vh;
    }
}

@media all and (min-width: 769px) {
    .ItemIdea{
        width: 27vw;
        height: 70vh;
        padding: 7vh 3.4vw 4vh;
        margin: 0;
    
        grid-template-areas:
        "header" 
        "textIdea"
        "number";
    
        grid-template-rows: 27% 44% 10%;
        grid-template-columns: 1fr;
    }

    .titleIdea{
        width: 85%;
        --h3-font-size: 28px;
        --h3-line-height: 44px;
    }

    .numberIdea{
        margin-top: 5vw;
    }
    
}
@media all and (min-width: 1296px) {

    .ItemIdea{
        height: 35vw;
    }
    .numberIdea{
        margin-top: 5vw;
    }
}
@media all and (min-width: 1680px) {
    .ItemIdea{
        height: 30vw;
    }
    .numberIdea{
        margin-top: 0vw;
    }
}