:root{
  --page-background-color: #FFFFFF;
  --h-color: #111212;	
  --h2-font-size: 30px;
  --h2-line-height: 44px;
  --h3-font-size: 21px;
  --h3-line-height: 39px;
}
body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h2{
  font-size: var(--h2-font-size);
  color: var(--h-color);
  line-height: var(--h2-line-height);
  font-weight: 400;
  margin-top: 5vh;
  padding-left: 3.4vw;
  margin-bottom: 10vh;
}

@media all and (min-width: 385px) and (max-width: 768px) {
  h2{
    --h2-font-size: 50px;
    --h2-line-height: 65px;
    margin: 0 0 14vw;
  }
}

@media all and (min-width: 769px) {
  h2{
    --h2-font-size: 50px;
    --h2-line-height: 65px;
    margin: 0 0 7vw;
  }
}
@media all and (min-width: 1296px) {
  h2{
      margin: 0 0 2vw;
  }
}

@media all and (min-width: 1680px) {
  h2{
    margin: 0 0 5vw;
    padding-left: 0;
  }
}